# Values are from my local environment
OPENHIM_USERNAME = "interop@openhim.org"
OPENHIM_PASSWORD = "password"
OPENHIM_API_URL = "https://openhim-core:8080"
PORT = 6010
FHIR_URL = http://openhim-core:5001/fhir
FHIR_USERNAME = interop-client
FHIR_PASSWORD = interop-password
OPENMRS_URL = http://localhost:8082/openmrs/ws/fhir2/R4
OPENMRS_USERNAME = admin
OPENMRS_PASSWORD = Admin123